body{
    display: flex;
    flex-direction: row-reverse;
    width: 100vh;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
    gap: 10px;
    div{
        width: 50%;
    }
    .words{
        padding: 20px 0 20px;
        
        h2{
            text-decoration: underline;
        }
        p{
            margin-bottom: 20px;
            text-align: justify;
        }
    }
    .about-imgs{
        display:flex;
        flex-direction: column;

    }
}
@media only screen and (max-width: 400px){
    body{
        flex-direction: column-reverse;
        padding-top: 200px;
        width: 100vh;
        height: 100vh;
        div{
            max-width: 100%;
        }
        .words{
            padding: 10px 0 10px;
        }
       
    }
}